.linksContainer{
    background-color: rgb(1, 35, 131);
    display: flex;
    justify-content: flex-start;
    justify-content: space-evenly;
    height: 7vh;
}
  
.links{
    margin-top: 0.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 110%;
}

#logo{
    position: fixed;
    margin-left: -49%;
    margin-top: 1%;
    z-index: 1;
}

.accessibilty{
    position: fixed;
    margin-left: -48%;
    margin-top: 6%;
    opacity: 0.5;
    transition: 0.5s;
    width: 70px;
    height: 70px;   
    z-index: 1;
}

.accessibiltyItem {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.accessibilty:hover{
    opacity: 1;
    transition: 0.5s;
}

.accessibiltyList{
    position: fixed;
    border-radius: 5%;
    margin-left: 1%;
    margin-top: 10%;
    background-color: lightBlue;
    border: solid 3px gray;
    width: 12%;
    height: 40%;
    z-index: 1;
}

.homeMessage{
    position: absolute;
    border: solid rgb(54, 54, 104) 1px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    box-shadow: #1c19bb 0 -6px 8px inset;
    padding: 1%;
    color: white;
    background-color: rgb(6, 24, 75);
    margin-left: 30%;
    margin-top: 15%;
    z-index: 4;
    font-size: 400%;
    transition: 5s;
}

.cardsContainer {
    display: flex;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    margin-top: 7%;
}

.card {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    animation: move 25s alternate infinite;
    animation-delay: 1s;
}

.cardsContainer .card img {
    width: 100%;
    height: 100vh;
}

@keyframes move {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-400%);
    }
}

.displayProducts{
    display: grid;
    grid-template-columns: repeat(4,24%);
    row-gap: 5%;
    column-gap: 1%;
}

.logInBtn {
    margin-left: -3%;
    height: 80%;
    width: 7%;
    margin-top: 0.2%;
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    outline: none;
    padding: 0.5rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .logInBtn:hover {
    background-color: #296dff;
    box-shadow: #13398b 0 -6px 8px inset;
    transform: scale(1.105);
  }
  
  .logInBtn:active {
    transform: scale(1.025);
  }

.logInConteiner{
    background-color: lightgreen;
    width: 15%;
    height: 25%;
    margin-left: 42%; 
    padding: 1%;
}

.registerConteiner{
    background-color: lightgreen;
    width: 15%;
    height: 25%;
    margin-left: 42%; 
    padding: 1%;
}

.registerImage{
    margin-left: -22%;
    width: 150px;
}

.registerBtn {
    height: 80%;
    margin-left: 20%;
    margin-top: 0.2%;
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    outline: none;
    padding: 0.5rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .registerBtn:hover {
    background-color: #15d435;
    box-shadow: #0d7c20 0 -6px 8px inset;
    transform: scale(1.105);
  }
  
  .registerBtn:active {
    transform: scale(1.105);
  }


.contactUsContainer{
    background-image: url('https://wallpaperaccess.com/full/763899.jpg');
    height: 100vh;
}

.contactUsImage{
    border-top-left-radius: 100%;
    border-bottom-left-radius: 60%;
    border-top-right-radius: 60%;
    border-bottom-right-radius: 100%;
    padding: 1%;
    position: absolute;
    margin-left: -40%;
    background-size: cover;
    height: 100vh;
    width: 70vw;
    box-shadow: 10px 10px 50px rgba(1, 36, 131, 0.685);
    



}

.contactUsDetailes{
    position: absolute;
    /* border: solid 1px black; */
    width: 10%;
    height: 17%;
    margin-top: 26%;
    margin-left: 23.5%;

}


.contactUsTitle{
    position: absolute;
    margin-left: 23%;
    margin-top: 8%;
}

.contactUsFormContainer{
    position: absolute;
    margin-top: 10%;
    margin-left: 20%; 
    padding: 1%;
    width: 15%;
    height: 25%;
}

.signOutBtn {
    position: absolute;
    margin-left: 42%;
    margin-top: -3%;
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    outline: none;
    padding: 0.5rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .signOutBtn:hover {
    background-color: #15d435;
    box-shadow: #0d7c20 0 -6px 8px inset;
    transform: scale(1.105);
  }
  
  .signOutBtn:active {
    transform: scale(1.105);
  }

  .allMoviesContainer{
    background-image: url('https://wallpaperaccess.com/full/763899.jpg');
    margin-top: -1.2%;
    height: 100vh;
  }

  .categoryContainer{
    background-image: url('https://wallpaperaccess.com/full/763899.jpg');
    margin-top: -1%;
    height: 100%;
  }

  .allMoviesContainer a{
      position: relative;
  }

.allMovies{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    width: 270px;
    height: 500px;
    margin-left: 2%;
    transition: 1s;
}


.allMovies:hover{
    box-shadow: 20px 20px 20px lightBlue;
    transition: 1s;
}

.movieConteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.cardCointeiner{
    border: solid 3px rgb(0, 0, 0);
    border-radius: 5px;
    width: 20%;
    margin-top: 1%;
    transition: 1s;
}

.movieCard{
    width: 99%;
    height: 65%;
}


th{
    background-color: lightgreen;
}

.beforeHover{
    position: absolute;
    left:40%;
    top: -110%;
    z-index: -1;
    transition: 1s;
}

.afterHover{
    position: absolute;
    left: 40%;
    top: 45%;
    z-index: 1;
    transition: 1s;
}

.aboutFather{
    padding: 10%;
    text-align: center;
    background-image: url('https://img.wallpapersafari.com/desktop/1440/900/45/54/vksuA9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

.aboutConteiner{
    width: 50%;
    transition: 2s;
}

.aboutConteiner:hover{
    background-size: cover;
    transition: 2s;
}

.aboutParagraph{
    font-style: italic;
    width: 100%;
    height: 50%;
    transition: 1s;
}

.aboutParagraph:hover{
    transform: scale(105%);
    transition: 1s;
}

.aboutList{
    font-style: italic;
    transition: 1s;
}

.aboutList:hover{
    transform: scale(105%);
}

.storeContainer{
    background-image: url('https://wallpaperaccess.com/full/763899.jpg');
    margin-top: -1%;
}

.homeConteiner{
    background-image: url('https://wallpaperaccess.com/full/763899.jpg');
    margin-top: -2.1%;
    background-size: cover;
}

.cartConteiner{
    background-image: url('https://wallpaperaccess.com/full/763899.jpg');
    margin-top: -1.4%;
    height: 100vh;
}

.watchListContainer{
    background-image: url('https://wallpaperaccess.com/full/763899.jpg');
    margin-top: -1.3%;
    height: 100vh;
}

.imageTry{
    transition: 1s;
}

.imageTry:hover{
    /* transform: scale(130%);
    padding: 10%; */
    width: 100%;
    height: 50%;
    transition: 1s;
}

/* .logInConteiner{
    background-image: url('https://wallpaperaccess.com/full/763899.jpg');
    margin-top: -1.3%;
    height: 100vh;
} */



